table {
  font-family: 'Comic Sans MS';
  border-collapse: collapse;
  width: 100%;
  border: 3px solid black;
}
caption {
  font-family: 'Times New Roman';
  text-align: center;
  border: 3px solid black;
  border-bottom: 3px solid yellow;
  background-color: yellow;
  font-weight: bold;
}
td {
  font-family: 'Times New Roman';
  text-align: center;
  border: 3px solid black;
  background-color: darkorange;
  font-weight: bold;
}
th {
  border: 3px solid black;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: lightskyblue;
}
.admin_info {
  margin: 10px;
}
