.lgn_field {
  width: 100%;
  vertical-align: baseline;
  margin: 3px;
}
.pwd_field {
  width: 100%;
  vertical-align: baseline;
  margin: 3px;
}
.label_h {
  font-size: 16px;
  text-align: right;
  margin: 0;
  width: 100px;
  display: inline-block;
}
.login_div {
  font-size: 20px;
  text-align: left;
  display: inline-block;
}
.pwd_div {
  font-size: 20px;
  text-align: left;
  display: inline-block;
}
.submit_field {
  cursor: pointer;
  text-transform: none;
}
.logblock {
  margin: 5px 10px;
}
