    <link rel="stylesheet" href="/css/footer.css">
    <div id = "ref_contact" class = "about_ref">    
        <div class = "about_container">
            <h1 class = "namecompany">QuickRentCar</h1>
            <h2 class = "contact_label">Контакты</h2>
            <div class = "contact">
                <div class = "developer">
                    <p class = "name">Бородин:</p>
                    <p class = "telephone">8-800-555-35-35</p>
                    <a class = "linktovk" href = "https://vk.com/id64559520">
                        <img class = "logo_about" src = "img/vk-logo.png" alt="ссыль">
                    </a>
                </div>
                <div class = "developer">
                    <p class = "name">Федоров:</p>
                    <p class = "telephone">8-800-250-79-55</p>
                    <a class = "linktovk" href = "https://vk.com/id11491571">
                        <img class = "logo_about" src = "img/vk-logo.png" alt="ссыль">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>