<% include header %>

    <div>
    <link rel="stylesheet" href="/css/registration.css">
    <h1>Регистрация</h1>
        <form name = "regform" class = "reg" method = "post" id = "regform" action = "/reg"> 
            <div class = "public_field">
                <h1 class = "label_h">Имя*:</h1>
                <div class = "needed_info">
                    <input id = "FirstName" name = "FirstName" class = "input_text" type = "text" maxlength=255/>
                </div>
                <% if (!correctname) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% } %>
            </div>
            <div class = "public_field">
                <h1 class = "label_h">Фамилия*:</h1>
                <div class = "needed_info">
                    <input id = "SurName" name = "SurName" class = "input_text" type = "text" maxlength=255/>
                </div>
                <% if (!correctsurname) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% } %>
            </div>
            <div class = "public_field">
                <h1 class = "label_h">Отчество:</h1>
                <div class = "more_info">
                    <input id = "SecondName" name = "SecondName" class = "input_text" type = "text" maxlength=255/>
                </div>
            </div>
            <div class = "public_field">
                <h1 class = "label_h">Логин*:</h1>
                <div class = "needed_info">
                    <input id = "Login" name = "Login" class = "input_text" type = "text" maxlength=255/>
                </div>
                <% if (correctlog == 1) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% }else if(correctlog == 2){ %>
                    <p class = "incorrect_data">Данный логин занят, выберите другой</p>
                <% } %>
            </div>
            <div class = "public_field">
                <h1 class = "label_h">Пол*:</h1>
                <div class = "needed_info">
                    <select size = 1 single name="Sex" required>
                        <option selected = "selected" disabled>Выберите пол</option>
                        <option value = "Male">Мужчина</option>
                        <option value = "Female">Женщина</option>
                    </select>
                </div>
                <% if (!correctsex) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% } %>
            </div>
            <div class = "pwd_field">
                <h1 class = "label_h">Пароль:</h1>
                <div class = "pwd_div">
                    <input id = "mainpassword" name = "mainpassword" class = "pwd_text" type = "password" />
                </div>
                <% if (correctpwd != 0) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% } %>
            </div>
            <div class = "pwd_field">
                <h1 class = "label_h">Повторите пароль:</h1>
                <div class = "pwd_div">
                    <input id = "verpassword" name = "verpassword" class = "pwd_text" type = "password" />
                </div>
                <% if (correctpwd != 0) { %>
                    <p class = "incorrect_data">Введите данные</p>
                <% } %>
            </div>
            <div class = "date_field">
                <h1 class = "label_h">Дата рождения:</h1>
                <div class = "date_div">
                    <input id = "date" name = "date" class = "date_input" type = "date" />
                </div>
            </div>
            <div class = "submit_field">
                <input id = "Authentication" class = "Authentication" type = "submit" value = "Войти" />    
            </div>
        </form>
  </div>

<% include footer %>